<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Neo. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="neo_gocardless" frontName="neo_gocardless">
            <module name="Neo_Gocardless" />
        </route>
    </router>
</config>